<div class="menu">
	<div class="menu-row" *ngFor="let row of rows">
		<div class="menu-item" (click)="click(row[0])" (mouseover) = "row[0].invertIcon()" (mouseout) = "row[0].invertIcon()" *ngIf="row[0].icon != ''">
			<span class="material-icons" style={{row[0].style}} *ngIf="row[0].text == 'Move'">{{row[0].icon}}</span>
			<span class="icons"  style={{row[0].style}} *ngIf="row[0].text != 'Move'">{{row[0].icon}}</span>
			<span class="menu-item-label" style={{row[0].style}}>{{row[0].text}}</span>

		</div>
		<div class="menu-item" (click)="click(row[1])" (mouseover) = "row[1].invertIcon()" (mouseout) = "row[1].invertIcon()" *ngIf="row[1].icon != ''">
			<span class="material-icons" style={{row[1].style}} *ngIf="row[1].text == 'Line'">{{row[1].icon}}</span>
			<span class="icons" style={{row[1].style}} *ngIf="row[1].text != 'Line'">{{row[1].icon}}</span>
			<span class="menu-item-label" style={{row[1].style}}>{{row[1].text}}</span>
		</div>
	</div>
	<div class="menu-row">
		<div class="menu-item">
			<input type="color" class="color-input" value="#ff0000">
			<span class="menu-item-label">Color</span>
		</div>
	</div>
</div>