
<div class="container">
	<nav class="menu">
		<a href="#" class="menu-item">
			<span class="material-icons">open_with</span>
			<span class="menu-item-label">Move</span>
		</a>
		<a href="#" class="menu-item">
			<span class="material-icons" style="font-size: 17px;">╱</span>
			<span class="menu-item-label">Line</span>
		</a>
		<a href="#" class="menu-item">
			<span class="material-icons">square</span>
			<span class="menu-item-label">Square</span>
		</a>
		<a href="#" class="menu-item">
			<span class="material-icons">rectangle</span>
			<span class="menu-item-label">Rectangle</span>
		</a>
        <a href="#" class="menu-item">
			<span class="material-icons">circle</span>
			<span class="menu-item-label">Circle</span>
		</a>
        <a href="#" class="menu-item" (mouseover) = "mouseoverEllipse()" (mouseout) = "mouseoutEllipse()">
			<span class="material-icons" style="font-size: 35px;">{{ ellipse }}</span>
			<span class="menu-item-label">Ellipse</span>
		</a>
        <a href="#" class="menu-item" (mouseover) = "mouseoverTriangle()" (mouseout) = "mouseoutTriangle()">
			<span class="material-icons" style="font-size: 30px;">{{ triangle }}</span>
			<span class="menu-item-label">Triangle</span>
		</a>
	</nav>
</div>