<!-- <svg:rect   fill = "none" stroke = "red" stroke-dasharray="5,5"
            [attr.x]= "rectangle.center.x - rectangle.style.strokeWidth.value/2 - 4"
            [attr.y]= "rectangle.center.y - rectangle.style.strokeWidth.value/2 - 4"
            [attr.height] = "rectangle.dimensions[0] + rectangle.style.strokeWidth.value + 8"
            [attr.width] = "rectangle.dimensions[1] + rectangle.style.strokeWidth.value + 8"
            [attr.visibility] = "rectangle.getBorderVisibility()"
            (click) = "rectangle.click()"
            (mousemove) = "rectangle.clickMove($event)"/>

<svg:circle [attr.cx]= "rectangle.center.x - rectangle.style.strokeWidth.value/2 - 4"
            [attr.cy]= "rectangle.center.y - rectangle.style.strokeWidth.value/2 - 4"
            [attr.visibility] = "rectangle.getBorderVisibility()"
            r = "4"
            [attr.visibility] = "rectangle.getBorderVisibility()"
            (mousedown) = "rectangle.clickUpperLeftCorner()"
            (mousemove) = "rectangle.moveUpperLeftCorner($event)"
            (mouseup) = "rectangle.mouseUp()"/> -->

<svg:rect   [attr.x]= "rectangle.center.x"
            [attr.y]= "rectangle.center.y"
            [attr.height] = "rectangle.dimensions[0]"
            [attr.width] = "rectangle.dimensions[1]"
            [attr.style] = "rectangle.style.toString()"
            (click) = "rectangle.click()"
            (mousemove) = "rectangle.clickMove($event)"/>
