<svg width = "100%" height = "100%">
    <svg:g *ngFor="let shape of this.manager.shapes | keyvalue; index as i"
            [ngSwitch]="shape.value.getType()"
            [id]= "shape.key">

        <svg:circle *ngIf="shape.value.isSelected" [attr.r] = "10"/> 
        <svg:g *ngSwitchCase= "'line'" shape = 'line'/>


        <svg:g *ngSwitchCase = "'triangle'" shape = 'triangle'/>


        <svg:g *ngSwitchCase = "'ellipse'" shape = 'ellipse' [ellipse] = 'shape.value'/>


        <svg:g *ngSwitchCase = "'circle'" shape = 'circle' [circle] = 'shape.value'/>


        <svg:g *ngSwitchCase = "'rectangle'" shape = 'rectangle' [rectangle] = 'shape.value'/>


        <svg:g *ngSwitchCase = "'square'" shape = 'square'/>


        <svg:g *ngSwitchCase = "'userDefined'" shape = 'userDefined'/>

        
    </svg:g>
    <use *ngFor="let shape of this.manager.selectedShapes | keyvalue"
            [attr.href] = "'#' + shape.key">

    </use>
</svg>
