<svg width = "100%" height = "100%">
    <svg:g *ngFor="let shape of this.manager.shapes | keyvalue; index as i"
            [ngSwitch]="shape.value.getType()">


        <svg:g *ngSwitchCase= "'line'" shape = 'line' [id]= "shape.key"/>


        <svg:g *ngSwitchCase = "'triangle'" shape = 'triangle' [id]= "shape.key"/>


        <svg:g *ngSwitchCase = "'ellipse'" shape = 'ellipse' [id]= "shape.key"/>


        <svg:g *ngSwitchCase = "'circle'" shape = 'circle' [id]= "shape.key" [circle] = 'shape.value'/>


        <svg:g *ngSwitchCase = "'rectangle'" shape = 'rectangle' [id]="shape.key" [rectangle] = 'shape.value'/>


        <svg:g *ngSwitchCase = "'square'" shape = 'square' [id]= "shape.key"/>


        <svg:g *ngSwitchCase = "'userDefined'" shape = 'userDefined' [id]= "shape.key"/>

        
    </svg:g>
    <use></use>
</svg>
