<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet" />

<div class="container">
	<!-- code here -->
	<nav class="menu">
		<a href="#" class="menu-item">
			<span class="material-icons">undo</span>
			<span class="menu-item-label">Undo</span>
		</a>
		<a href="#" class="menu-item">
			<span class="material-icons">redo</span>
			<span class="menu-item-label">Redo</span>
		</a>
		<a href="#" class="menu-item">
			<span class="material-icons">save</span>
			<span class="menu-item-label">Save</span>
		</a>
		<a href="#" class="menu-item">
			<span class="material-icons">upload_file</span>
			<span class="menu-item-label">Load</span>
		</a>
	</nav>
	<!-- end of code -->
</div>