<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet" />

<div class="container">
	<div class="menu">
		<div class="menu-item">
			<span class="material-icons" (click)="this.stepsTracker.undo()">undo</span>
			<span class="menu-item-label">Undo</span>
		</div>
		<div class="menu-item">
			<span class="material-icons" (click)="this.stepsTracker.redo()">redo</span>
			<span class="menu-item-label">Redo</span>
		</div>
		<div class="menu-item" (click)="emitAction('Copy')">
			<span class="material-icons">content_copy</span>
			<span class="menu-item-label">Copy</span>
		</div>
		<div class="menu-item" (click)="emitAction('Paste')">
			<span class="material-icons">content_paste</span>
			<span class="menu-item-label">Paste</span>
		</div>
		<div class="menu-item">
			<span class="material-icons" (click)="createShape()">add</span>
			<span class="menu-item-label">Define Shape</span>
		</div>
		<div class="menu-item" (click)="emitAction('Delete')">
			<span class="material-icons">delete</span>
			<span class="menu-item-label">Delete</span>
		</div>
		<label class="menu-item" for='upload'>
			<span class="material-icons">upload_file</span>
			<span class="menu-item-label">Load</span>
		</label>
		<a class="menu-item" href="http://localhost:4050/api/download-json">
			<span class="material-icons">save</span>
			<span class="menu-item-label">Save JSON</span>
		</a>
		<a class="menu-item" href="http://localhost:4050/api/download-xml">
			<span class="material-icons">save</span>
			<span class="menu-item-label">Save XML</span>
		</a>
	</div>
</div>
<input type="file" id="upload" accept=".xml,.json" style="display:none" (change) = "upload()"/>